*{
  box-sizing: border-box;
  margin: 0;
  font-family: 'Open Sans', sans-serif;  
}
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (prefers-color-scheme: dark) {
    color: "white";
    background-color:"black"
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

/* body { background:rgb(30,30,40); } */
form { max-width:420px; margin:50px auto; }

.feedback-input {
  color:white;
  font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border:2px solid #CC6666;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width:100%;
  box-sizing: border-box;
  outline:0;
}

.feedback-input:focus { border:2px solid #CC4949; }

textarea {
  height: 150px;
  line-height: 150%;
  resize:vertical;
}

[type="submit"] {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  width: 100%;
  background:#CC6666;
  border-radius:5px;
  border:0;
  cursor:pointer;
  color:white;
  font-size:24px;
  padding-top:10px;
  padding-bottom:10px;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}
[type="submit"]:hover { background:#CC4949; }


.nav-tabs{
  background-color: rgb(88, 88, 88);
  z-index: 20;
  display: flex;
   flex-direction: row;
  

}
.nav-item > a {
  display: flex;
 
  color: #eef5fc;
  padding: 14px 20px;
  text-decoration: none;

}
.nav >ul{
  list-style-type: none;  
}

#profilePic{
  max-width: 100%;
}

#aboutInfo{
 
  max-width: 60%;
  margin: auto; 
  margin: 100px;
  font-size: larger;
}

#feature{
  padding: 50px;
  text-align: center;
  
  margin: auto;
  margin-bottom: 200px;;
  max-width: 90%;
  border-radius: 7px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
#feature:hover{
  transform: scale(105%);
}
#featureImg >img{
  max-width: 90%;
  padding: 10px;
  border-radius: 15px;
}
#featureInfo>h3> a{
  color: #CC6666;
}

.phoneDemo{
  background-color: transparent;
}

.gallary >img{
max-height: 600px;
}

.gallaryInfo{
  padding: 100px 50px;
}


#noteTaker{
  color: #18BC9C;
  text-decoration: none;
}

#kevins{
  text-decoration: none;
  color:rgb(0, 120, 215)
}

#workout{
  text-decoration: none;
  color: #0275d8;
}

#budget{
  text-decoration: none;
  color:#4227a3
}

footer{
  position: fixed;
  bottom: 0;
  left: 0%;
  
}
footer a {
  text-decoration: none;
  padding: 20px;
  color: black;
}

@media only screen and(max-width: 450px) {
  .gallary > img{
    margin-left: 40px;
  }
  
}

